/*771px以上で適用する内容*/
/* @media screen and (min-width: 771px) {
.member_detail_content{
    display: inline-block; 
    padding:  2em;     
    margin-top: 10em;
    vertical-align: top;
}
} */

/*770px以下で適用する内容*/
/* @media screen and (max-width: 770px) {
    .membersphoto{
        width: 100%;
        height: 60%;
    }

    .member_detail_content{
        display: inline-block; 
        padding:  20px;     
        height: 200px; */
/* margin-top: 4em; */
/* vertical-align: top;
    }

} */
@media screen and (max-width: 770px) {
	.member_detail_content_wrapper {
		display: inherit;
		/* padding-top: 5rem; */
	}
	.member_detail_content {
		margin-bottom: 2rem;
		width: inherit;
	}
	.member_detail_content_wrapper img {
		/* min-width: 300px; */
		width: 100%;
	}
	.member_detail_content img {
		width: 50%;
	}
}
