@charset "UTF-8";
@import "../style.css"; */

body * {
	width: device-width;
	box-sizing: border-box;
}
main{
    text-align: center;

}
.membersphoto{
    padding: 2em;

}
.member_detail_skill{
    display: flex;
    padding: 10px;
}
.member_detail_skill_item{
    border: solid 1px #838282;
    margin: 8px;
    padding: 1px 4px;
    border-radius: 10px 10px 10px 10px;
}
.member_comment{
    border-top:solid 1px #838282;
    padding: 40px;
    margin: 10px;  
}

