

@charset "UTF-8";
/*============================================================================================
共通のcss
=============================================================================================*/

@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');
/*(和文)*/
:lang(ja) {
    font-family: 'M PLUS 1p', sans-serif;
    color: #3E3E3E;
    font-size: 16px;
}

/*（英文）*/
:lang(en){
    font-family: 'Vollkorn', sans-serif;
    color: #3E3E3E;
    font-size: 18px;
}
    h1:lang(en){
        font-size: 38px;
        font-weight: bold;
    }
    h2:lang(en){
        font-size: 26px;
        font-weight: bold;
    }
    h3:lang(en){
        font-size: 20px;
        font-weight: bold;
    }
    /baumkuchen-aki-teams

    /*remで指定する時もpx指定する時と同じ感覚で書ける用
    html {
        font-size: 62.5%;
    }*/