@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');
//(和文)
:lang(ja) {
    font-family: 'M PLUS 1p', sans-serif;
    color: #3E3E3E;
    font-size: _rem(16px);
}

//（英文）
:lang(en){
    font-family: 'Vollkorn', sans-serif;
    color: #3E3E3E;
    font-size: _rem(18px);
}
  
body * {
  width=device-width;
  box-sizing: border-box;
}
header{
  background-color: #ffffff;
}
.baumkuchen-aki-logo{
  float: left;
}
.baumkuchen-aki-icon{
  display: flex;
  justify-content: flex-end;
  padding-top: 1em;
}
#baumkuchen-aki-icon-home{
  width: 3em;
  padding-right: 1em;
}
#baumkuchen-aki-icon-tag{
  width: 3em;
  padding-right: 1em;
}
#baumkuchen-aki-icon-viewmodule{
  width: 3em;
  padding-right: 1em;
}
#baumkuchen-aki-icon-reorder{
  width: 2em;
}
.grovalNavigation{
  width: 100%;
  margin: 0;
  text-align: center;
}
.baumkuchen-aki-main{
  margin: 30px;
  text-align: center;
  font-size: 10px;
}
h1{
  font-family:'Vollkorn', serif;
  font-size: 48px;
}
.baumkuchen-aki-subtitle{
  font-family:'M PLUS 1p', sans-serif;
  font-size: 24px;
}
.baumkuchen-aki-mainnews{
  margin: 80px;
  height: 10em;
  border: solid 2px #cccccc;
  text-align: center;
  font-family:'M PLUS 1p', sans-serif;
  font-size: 16px;
}
.baumkuchen-aki-contents{
  font-family:'Vollkorn', serif;
  font-size: 28px;
  text-align: center;
  font-weight: 50;
}
h3{
  font-size: 15px;
  margin-bottom: 10px;
}
.baumkuchen-aki-title {
  font-size: 12px;
  margin: 10px 0 5px 0;
  color: #1c0b1e;
  font-weight: bold;
}
p{
  font-size: 16px;
  color: #666666;
}

.baumkuchen-aki-container{
list-style: none;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.baumkuchen-aki-containerItem{
  /* imgタグなのでblock要素に変えて使い勝手よくしとく */
  display: block;
  width:300px;
  height: 200px;
  margin :10px;
}
.baumkuchen-aki-schedule{
  margin:40px,30px;
}

